# Data Understanding

In dieser Phase beschreibt der Autor die zuerst die Herkunft und Beschaffungsweise der Daten. Daraufhin wird geprüft, ob diese den in der Zielsetzung formulierten Anforderungen gerecht werden.

## 1. Datenbeschaffung

### 1.1 Grundlegende Informationen zum Datensatz

<b>Datenbereitsteller: </b>Medizinische Medien Informations GmbH, Am Forsthaus Gravenbruch 7, 63263 Neu-Isenburg<br>
<b>Datensatzbezeichnung: </b>MMI Pharmaindex - Rohdaten Release R3<br>
<b>Version: </b>1.25<br>
<b>Datum: </b>15.03.2019<br>

<b>Struktur:</b><br>
<code>├── MMI_RohdatenR3
│   ├── doc
│   └── mmiPharmindexR3_20190501MAIN.zip
├── MMI_RohdatenR3_Fachinformation
│   ├── doc
│   └── mmiPharmindexR3_20190501SPC.zip
├── MMI_RohdatenR3_Interaktionen
│   ├── doc
│   └── mmiPharmindexR3_20190501INTERACTION.zip
└── MMI_RohdatenR3_Medplan
    ├── mmiPharmindexR3_20190501MEDPLAN.zip
    └── mmiPharmindexR3_MEDPLAN_Datenstruktur.pdf</code>

Der Datensatz gliedert sich in der ersten Ebene auf die drei Unterordner MMI_RohdatenR3, -Fachinformationen, -Interaktionen und -Medplan auf. Darin enthalten ist zum einen ein doc-Ordner mit einer PDF, in der der jeweilige Datensatz beschrieben wird, zum anderen eine Zip-Datei in der die jeweiligen Datentabellen als CSV-Datei hinterlegt sind.

Der Datensatz ist in dieser Form u.a. bei der Arzneimitteldatenbank <a href="https://gelbe-liste.de">"Gelbe Liste"</a>im Einsatz.

### 1.2 Selektion der benötigten Dateien

Für die Abbildung des Wechselwirkungschecks und einer generellen Übersicht werden nicht alle Dateien benötigt. Ausschließlich die Angaben zu den einzelnen Arzneimitteln, Herstellern und die Interaktionsdaten sind hierfür von Interesse. Erstere sind in die den Rohdaten_R3 (/mmiPharmindexR3_20190501MAIN) zu finden, die Interaktionsdaten in dem gleichnamigen Unterordner (/mmiPharmindexR3_20190501INTERACTION). Fachinformationen und der Medikationsplan sind nicht von Relevanz und werden daher nicht weiter betrachtet.

Im Detail werden folgenden Tabellen innerhalb der Unterordner benötigt:

<ol>
    <li>MMI_RohdatenR3/mmiPharmindexR3_20190501MAIN</li>
        <ul><li>PRODUCT.CSV</li>
            <li>COMPANY.CSV</li>
            <li>COMPANYADRESS.CSV</li>
            <li>PRODUCT_COMPANY.CSV</li></ul>
    <br/>
    <li>MMI_RohdatenR3_Interaktionen/mmiPharmindexR3_20190501INTERACTION</li>
        <ul><li>INTERACTION.CSV</li>
            <li>INTERACTION_CLASS.CSV</li>
            <li>PRODUCT_INTERACTION_CLASS.CSV</li></ul>
</ol>

### 1.3 Importieren von Python-Paketen

In [82]:
import pandas as pd
import csv

### 1.4 Einlesen der benötigten Dateien

In [113]:
# Funktion zum Einlesen
def csv_to_df(csv):
    df = pd.read_csv(csv, header=0, sep=';', quotechar='"', decimal=',', low_memory=False)
    return df

# Produkte
product = csv_to_df("../data/origin/PRODUCT.csv")
product.name = "Produkte"

# Hersteller
company = csv_to_df("../data/origin/COMPANY.csv")
company.name = "Hersteller"

# Hersteller-Adresse
company_adress = csv_to_df("../data/origin/COMPANYADDRESS.csv")
company_adress.name = "Hersteller-Adresse"

# Schnittstelle Hersteller u. Produkt
product_company = csv_to_df("../data/origin/PRODUCT_COMPANY.csv")
product_company.name = "API-Produkt-Hersteller"

# Interaktionen
interaction = csv_to_df("../data/origin/INTERACTION.csv")
interaction.name = "Interaktionen"

# Interaktions-Klasse
interaction_class = csv_to_df("../data/origin/INTERACTION_CLASS.csv")
interaction_class.name = "Interaktionsklasse"

# Schnittstelle zw. Produkte u. Interaktionen
product_interaction_class = csv_to_df("../data/origin/PRODUCT_INTERACTION_CLASS.csv")
product_interaction_class.name = "API-Produkte-Interaktionen"

### Ausgabe einer ersten Analyse

In [114]:
all_data = [product, company, company_adress, product_company, interaction, 
            interaction_class, product_interaction_class]

# Ausgabe einer ersten Analyse
for df in all_data:
    print(df.name + ':')
    print(str(df.info()) + '\n' +
          '--------------------------------------------------------------------' + '\n')

Produkte:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545159 entries, 0 to 545158
Data columns (total 18 columns):
ID                               545159 non-null int64
NAME                             545159 non-null object
NAME_PLAIN                       545159 non-null object
SORTNAME                         545159 non-null object
ONMARKETDATE                     545159 non-null object
REGISTRATION_NUMBER              0 non-null float64
ACTIVESUBSTANCECOUNT             70414 non-null float64
ORIGINALPRODUCTID                13064 non-null float64
DISPENSINGTYPECATALOGID          545159 non-null int64
DISPENSINGTYPECODE               545159 non-null int64
PRODUCTFOODTYPECATALOGID         530051 non-null float64
PRODUCTFOODTYPECODE              530051 non-null object
PRODUCTDIETETICSTYPECATALOGID    545135 non-null float64
PRODUCTDIETETICSTYPECODE         545135 non-null object
PAO_TIMEUNITCATALOGID            2865 non-null float64
PAO_TIMEUNITCODE                 2865 non-null object
PAO_DESCRIPTION                  4330 non-null object
PAO_COUNT                        2865 non-null float64
dtypes: float64(7), int64(3), object(8)
memory usage: 74.9+ MB
None
--------------------------------------------------------------------

Hersteller:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4316 entries, 0 to 4315
Data columns (total 5 columns):
ID                      4316 non-null int64
COMPANYTYPECATALOGID    4316 non-null int64
COMPANYTYPECODE         4316 non-null object
SHORTNAME               4316 non-null object
NAME                    4316 non-null object
dtypes: int64(2), object(3)
memory usage: 168.7+ KB
None
--------------------------------------------------------------------

Hersteller-Adresse:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4314 entries, 0 to 4313
Data columns (total 16 columns):
ID                      4314 non-null int64
COMPANYID               4314 non-null int64
SEQNO                   4314 non-null int64
CONTACTNAME1            4314 non-null object
CONTACTNAME2            37 non-null object
COUNTRYCATALOGID        4234 non-null float64
COUNTRYCODE             4234 non-null object
ZIP                     4265 non-null object
CITY                    4297 non-null object
STREET                  4294 non-null object
STREETNUMBER            4099 non-null object
POBZIP                  627 non-null object
POBCITY                 637 non-null object
POBNUMBER               621 non-null object
ADDRESSTYPECATALOGID    4314 non-null int64
ADDRESSTYPECODE         4314 non-null object
dtypes: float64(1), int64(4), object(11)
memory usage: 539.4+ KB
None
--------------------------------------------------------------------

API-Produkt-Hersteller:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545407 entries, 0 to 545406
Data columns (total 5 columns):
PRODUCTID                      545407 non-null int64
COMPANYID                      545407 non-null int64
SORTNAME                       545407 non-null int64
PRODUCTCOMPANYTYPECATALOGID    545407 non-null int64
PRODUCTCOMPANYTYPECODE         545407 non-null object
dtypes: int64(4), object(1)
memory usage: 20.8+ MB
None
--------------------------------------------------------------------

Interaktionen:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7619 entries, 0 to 7618
Data columns (total 62 columns):
INTERACTIONCLASSID1     7619 non-null int64
INTERACTIONCLASSID2     7619 non-null int64
SEVERITYID              7619 non-null int64
SEVERITY                7619 non-null object
LIKELIHOODID            7619 non-null int64
LIKELIHOOD              7619 non-null object
PRECAUTION              7619 non-null object
NOTES                   7619 non-null object
REFERENCE               7619 non-null object
FORWARDOBSERVATIONID    7619 non-null object
REVERSEOBSERVATIONID    7619 non-null object
FILL1                   3591 non-null object
FILL2                   3591 non-null object
FILL3                   3421 non-null object
FILL4                   3421 non-null object
FILL5                   3421 non-null object
FILL6                   3420 non-null object
FILL7                   3379 non-null object
FILL8                   3374 non-null object
FILL9                   3324 non-null object
FILL10                  1788 non-null object
FILL11                  1586 non-null object
FILL12                  370 non-null object
FILL13                  311 non-null object
FILL14                  304 non-null object
FILL15                  300 non-null object
FILL16                  295 non-null object
FILL17                  241 non-null object
FILL18                  214 non-null object
FILL19                  78 non-null object
FILL20                  60 non-null object
FILL21                  49 non-null object
FILL22                  45 non-null object
FILL23                  44 non-null object
FILL24                  44 non-null object
FILL25                  40 non-null object
FILL26                  39 non-null object
FILL27                  37 non-null object
FILL28                  36 non-null object
FILL29                  36 non-null object
FILL30                  36 non-null object
FILL31                  34 non-null object
FILL32                  33 non-null object
FILL33                  32 non-null object
FILL34                  32 non-null object
FILL35                  31 non-null object
FILL36                  30 non-null object
FILL37                  29 non-null object
FILL38                  17 non-null object
FILL39                  16 non-null object
FILL40                  15 non-null object
FILL41                  15 non-null object
FILL42                  14 non-null object
FILL43                  14 non-null object
FILL44                  12 non-null object
FILL45                  10 non-null object
FILL46                  6 non-null object
FILL47                  4 non-null object
FILL48                  3 non-null object
FILL49                  3 non-null object
FILL50                  3 non-null float64
FILL51                  3 non-null float64
dtypes: float64(2), int64(4), object(56)
memory usage: 3.6+ MB
None
--------------------------------------------------------------------

Interaktionsklasse:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 2 columns):
INTERACTIONCLASSID    1721 non-null int64
NAME                  1721 non-null object
dtypes: int64(1), object(1)
memory usage: 27.0+ KB
None
--------------------------------------------------------------------

API-Produkte-Interaktionen:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142745 entries, 0 to 142744
Data columns (total 2 columns):
INTERACTIONCLASSID    142745 non-null int64
PRODUCTID             142745 non-null int64
dtypes: int64(2)
memory usage: 2.2 MB
None
--------------------------------------------------------------------

### Bereinigung der Dataframes auf die relevanten Spalten

In [109]:
# Produkte (hier reicht die ID, der Name und als zusätzl. Info das Markteintrittsdatum)
product = product[['ID','NAME','ONMARKETDATE']]

# Hersteller (ID, Name)
company = company[['ID','NAME']]

# Hersteller-Adresse (ID, COMPANYID, ZIP, STREET, STREETNUMBER)
company_adress = company_adress[['ID', 'COMPANYID', 'ZIP', 'CITY', 'STREET', 'STREETNUMBER']]

# Schnittstelle zw. Produkte und Hersteller
product_company = product_company[['PRODUCTID', 'COMPANYID']]

# Interaktionen (ID, Interaktionsklasse1, Interaktionsklasse2, Severity, Likelihood)
interaction = interaction[['INTERACTIONCLASSID1', 'INTERACTIONCLASSID2', 'SEVERITY', 'LIKELIHOOD']]

# ! Die beiden anderen Interaktionstabellen benötigen keine Veränderung !

all_data_final = [product, company, company_adress, product_company, 
                  interaction, interaction_class, product_interaction_class]

### Bereinigung von einzelnen Attributen und Zusammenfügen von Datensätzen

In [110]:
# Anpassen des Datums bei ONMARKETDATE in product --> MySQL arbeitet mit amerikanischem Datumsformat
product['ONMARKETDATE'] = pd.to_datetime(product['ONMARKETDATE'], format='%d.%m.%Y')

# Merge aus den Produkten und Herstellern
prod_comp_mrg = pd.merge(product, product_company, left_on='ID', right_on='PRODUCTID')
print(prod_comp_mrg.head())
print(prod_comp_mrg.info())

   ID                                    NAME ONMARKETDATE  PRODUCTID  \
0  14        Trental® 400 mg, Retardtabletten   1977-09-01         14
1  21         BETOPTIMA® 5 mg/ml Augentropfen   1985-09-01         21
2  30    Cyclopentolat Alcon® 1% Augentropfen   1998-04-01         30
3  32         DEXA-SINE® 1 mg/ml Augentropfen   1998-12-01         32
4  33  DEXA-SINE® SE 1,315 mg/ml Augentropfen   1989-12-01         33

   COMPANYID
0      15777
1        946
2         12
3        946
4        946
<class 'pandas.core.frame.DataFrame'>
Int64Index: 545407 entries, 0 to 545406
Data columns (total 5 columns):
ID              545407 non-null int64
NAME            545407 non-null object
ONMARKETDATE    545407 non-null datetime64[ns]
PRODUCTID       545407 non-null int64
COMPANYID       545407 non-null int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 25.0+ MB
None

/Users/markushemmer/PycharmProjects/firstdjango/myvenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [112]:
prod_comp_mrg = pd.merge(prod_comp_mrg, product_interaction_class, left_on='PRODUCTID', right_on='PRODUCTID', how='left')
print(prod_comp_mrg.head())
print(prod_comp_mrg.info())

   ID                              NAME ONMARKETDATE  PRODUCTID  COMPANYID  \
0  14  Trental® 400 mg, Retardtabletten   1977-09-01         14      15777
1  14  Trental® 400 mg, Retardtabletten   1977-09-01         14      15777
2  21   BETOPTIMA® 5 mg/ml Augentropfen   1985-09-01         21        946
3  21   BETOPTIMA® 5 mg/ml Augentropfen   1985-09-01         21        946
4  21   BETOPTIMA® 5 mg/ml Augentropfen   1985-09-01         21        946

   INTERACTIONCLASSID
0               166.0
1           1001088.0
2                53.0
3           1000737.0
4           1000747.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 656309 entries, 0 to 656308
Data columns (total 6 columns):
ID                    656309 non-null int64
NAME                  656309 non-null object
ONMARKETDATE          656309 non-null datetime64[ns]
PRODUCTID             656309 non-null int64
COMPANYID             656309 non-null int64
INTERACTIONCLASSID    143834 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 35.1+ MB
None

In [ ]:
prod_comp_mrg = prod_comp_mrg.drop('PRODUCTID', 1)

In [ ]:
print(prod_comp_merge.head())

In [ ]:
prod_comp_merge2 = pd.merge(prod_comp_merge, company[['ID','NAME']], left_on="COMPANYID", right_on="ID")
prod_comp_merge2 = prod_comp_merge2[['ID_x','NAME_x','ONMARKETDATE','NAME_y']]
prod_comp_merge2.columns = ['ID','Arzneimittel','Markteintrittsdatum','Hersteller']
prod_comp_merge2 = prod_comp_merge2.sort_values(by='ID', ascending=True)
print(prod_comp_merge2.head())

In [ ]:
product = prod_comp_merge2

In [13]:
# Merge aus Company und Companyadress
comp_adrs_mrg = pd.merge(company, company_adress, left_on='ID', right_on='COMPANYID')
# Straße und Hausnummer zusammenführen
comp_adrs_mrg['Straße und Hausnummer'] = comp_adrs_mrg['STREET'] +' '+ comp_adrs_mrg['STREETNUMBER']
# Unbrauchbare Spalten entfernen
comp_adrs_mrg = comp_adrs_mrg[['ID_x','NAME','ZIP','CITY','Straße und Hausnummer']]
comp_adrs_mrg.columns = ['ID','Hersteller','Postleitzahl','Stadt','Straße und Hausnummer'] # Umbenennung der Spalten
comp_adrs_mrg = comp_adrs_mrg.sort_values(by='ID', ascending=True) # Aufsteigend sortieren
company = comp_adrs_mrg # Finale Zuordnung
print(comp_adrs_mrg.head())

   ID                                        Hersteller Postleitzahl  \
0   1                  AbbVie Deutschland GmbH & Co. KG        65189
1   3  3M Medica Zweigniederlassung 3M Deutschland GmbH        41453
2   5                         aar Pharma GmbH u. Co. KG        42853
3  10                         AktivPharma GmbH & Co. KG        69412
4  12                                 Alcon Pharma GmbH        79108

       Stadt Straße und Hausnummer
0  Wiesbaden       Mainzer Str. 81
1      Neuss       Hammfelddamm 11
2  Remscheid          Alleestr. 11
3   Eberbach         Klausenweg 12
4   Freiburg      Blankreutestr. 1

In [ ]:
# Fertigstellen der finalen csv-Dateien

product.to_csv('../data/final/product_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
company.to_csv('../data/final/company_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
#company_adress.to_csv('../data/final/company_adress_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
#product_company.to_csv('../data/final/product_company_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
interaction.to_csv('../data/final/interaction_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
interaction_class.to_csv('../data/final/interaction_class_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)
product_interaction_class.to_csv('../data/final/product_interaction_class_final.csv', sep=';', quoting=csv.QUOTE_NONNUMERIC, index=False)